<template>
  <base-section id="about-our-product">
    <base-section-heading
      color="primary lighten-2"
      icon="mdi-account"
      title="WHY NEXT STONE BENCHTOPS?"
    />

    <v-container>
      <v-row>
        <v-col
          v-for="card in cards"
          :key="card.title"
          cols="12"
          md="4"
        >
          <base-info-card v-bind="card" />
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionAboutOurProduct',

    data: () => ({
      cards: [
        {
          title: 'Durability',
          text:
            'If you love the appearance of natural stone but are looking for the durability of an engineered benchtop, Nextstone Benchtops can help you with that. Our products are lightweight and available in slabs as thin as 20 mm , all while being acid resistant, scratch resistant, shock resistant and non-porous.',
          callout: '01',
        },
        {
          title: 'Affordable Prices',
          text:
            'We offer best quality products at an affordable price. We have worked with thousands of customers and they all satisfied with the price and quality of services that we bring.',
          callout: '02',
        },
        {
          title: 'Diverse Selection',
          text:
            'Your benchtop stone are available in a wonderful selection of colours and styles. Your choices include quartzite, granite, marble, porcelain or dekton in a myriad of colours, forms, patterns, and movements.',
          callout: '03',
        },
      ],
    }),
  }
</script>
