<template>
  <base-section
    id="affiliates"
    class="grey lighten-4"
    space="36"
  >
    <v-container>
      <base-section-heading
        color="primary"
        title="We have very good relationship with"
      />

      <v-slide-group>
        <template v-for="(item, index) in suppliers">
          <v-slide-item
            :key="index"
            class="align-self-center"
          >
            <base-img
              :src="item.logo"
              @click="openHref(item.href)"
              color="grey"
              contain
              height="145"
              width="270"
            />
          </v-slide-item>
          <v-responsive
            v-if="index < 6"
            :key="`divider-${index}`"
            class="text-center"
            height="145"
            width="48"
          >
            <v-divider vertical />
          </v-responsive>
        </template>
      </v-slide-group>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionAffiliates',
    data: () => ({
      rating: 5,
      suppliers: [
        {
          logo: require('@/assets/logo1.png'),
          href: 'https://www.caesarstone.com.au/',
        },
        {
          logo: require('@/assets/logo2.png'),
          href: 'https://www.cosentino.com/silestone/',
        },
        {
          logo: require('@/assets/logo3.png'),
          href: 'https://www.wk.com.au/',
        },
        {
          logo: require('@/assets/logo4.png'),
          href: 'https://www.ydlstone.com.au/',
        },
        {
          logo: require('@/assets/logo5.png'),
          href: 'https://www.stoneambassador.com.au/',
        },
      ],
    }),
    methods: {
      openHref (href) {
        window.open(href, '_blank')
      },
    },
  }
</script>
