<template>
  <base-section id="pro-features">
    <base-section-heading title="Discover our projects">
    </base-section-heading>
    <v-tabs
      v-model="tab"
      centered
      show-arrows
    >
      <v-tab
        v-for="(item, key) in items"
        :key="key"
      >
       <span class="font-weight-bold">{{ item.title }}</span>
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item.title"
      >
        <v-container>
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              v-for="(image, n) in item.images"
              :key="n"
              class="d-flex child-flex"
              cols="12"
              sm="6"
              md="3"
            >
              <v-card
                flat
                tile
                class="d-flex"
              >
                <v-img
                  :src="image"
                  aspect-ratio="1"
                  :class="{ active: hover }"
                  @mouseover="hover = true"
                  @mouseleave="hover = false"
                  @click="onClickImage(n)"
                />

                <vue-gallery-slideshow
                  :images="item.images"
                  :index="index"
                  @close="index = null"
                />
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>
    </v-tabs-items>

  </base-section>
</template>

<script>
  import VueGallerySlideshow from 'vue-gallery-slideshow'
  export default {
    name: 'SectionProChart',
    components: {
      VueGallerySlideshow,
    },
    data: () => ({
      tab: null,
      index: null,
      items: [
        {
          title: 'Kitchen & Bathroom',
          images: [
            require('@/assets/kitchen1.jpeg'),
            require('@/assets/kitchen2.jpeg'),
            require('@/assets/kitchen3.jpeg'),
            require('@/assets/kitchen4.jpeg'),
            require('@/assets/kitchen5.jpeg'),
            require('@/assets/kitchen6.jpeg'),
            require('@/assets/kitchen7.jpeg'),
            require('@/assets/kitchen8.jpeg'),
            require('@/assets/kitchen9.jpeg'),
            require('@/assets/kitchen10.jpeg'),
            require('@/assets/kitchen11.jpeg'),
            require('@/assets/kitchen12.jpeg'),
            require('@/assets/kitchen13.jpeg'),
            require('@/assets/kitchen14.jpeg'),
            require('@/assets/kitchen15.jpeg'),
            require('@/assets/kitchen16.jpeg'),
            require('@/assets/kitchen17.jpeg'),
            require('@/assets/kitchen18.jpeg'),
            require('@/assets/kitchen19.jpeg'),
            require('@/assets/kitchen20.jpeg'),
            require('@/assets/kitchen21.jpeg'),
            require('@/assets/kitchen22.jpeg'),
            require('@/assets/kitchen23.jpeg'),
            require('@/assets/kitchen24.jpeg'),
            require('@/assets/kitchen25.jpeg'),
            require('@/assets/kitchen26.jpeg'),
            require('@/assets/kitchen27.jpeg'),
            require('@/assets/kitchen28.jpeg'),
            require('@/assets/kitchen29.jpeg'),
            require('@/assets/kitchen30.jpeg'),
            require('@/assets/kitchen31.jpeg'),
            require('@/assets/kitchen32.jpeg'),
            require('@/assets/kitchen33.jpeg'),
            require('@/assets/kitchen34.jpeg'),
            require('@/assets/kitchen35.jpeg'),
            require('@/assets/kitchen36.jpeg'),
            require('@/assets/kitchen37.jpeg'),
            require('@/assets/kitchen38.jpeg'),
            require('@/assets/kitchen39.jpeg'),
            require('@/assets/kitchen40.jpeg'),
            require('@/assets/kitchen41.jpeg'),
            require('@/assets/kitchen42.jpeg'),
            require('@/assets/kitchen43.jpeg'),
            require('@/assets/kitchen44.jpeg'),
            require('@/assets/kitchen45.jpeg'),
            require('@/assets/kitchen46.jpeg'),
            require('@/assets/kitchen48.jpeg'),
            require('@/assets/kitchen49.jpeg'),
            require('@/assets/kitchen50.jpeg'),
            require('@/assets/kitchen51.jpeg'),
            require('@/assets/kitchen52.jpeg'),
            require('@/assets/kitchen53.jpeg'),
            require('@/assets/kitchen54.jpeg'),
            require('@/assets/kitchen55.jpeg'),
          ],
        },
        {
          title: 'Bar',
          images: [
            require('@/assets/bar1.jpeg'),
            require('@/assets/bar2.jpeg'),
            require('@/assets/bar3.jpeg'),
            require('@/assets/bar4.jpeg'),
            require('@/assets/bar5.jpeg'),
          ],
        },
        {
          title: 'BBQ',
          images: [
            require('@/assets/bbq1.jpeg'),
            require('@/assets/bbq2.jpeg'),
            require('@/assets/bbq3.jpeg'),
            require('@/assets/bbq4.jpeg'),
          ],
        },
        {
          title: 'Display',
          images: [
            require('@/assets/display1.jpeg'),
            require('@/assets/display2.jpeg'),
            require('@/assets/display3.jpeg'),
            require('@/assets/display4.jpeg'),
            require('@/assets/display5.jpeg'),
          ],
        },
        {
          title: 'Dining Table',
          images: [
            require('@/assets/dining1.jpeg'),
            require('@/assets/dining2.png'),
          ],
        },
        {
          title: 'Renovation',
          images: [
            require('@/assets/reno1.jpeg'),
            require('@/assets/reno2.jpeg'),
            require('@/assets/reno3.jpeg'),
            require('@/assets/reno4.jpeg'),
            require('@/assets/reno5.jpeg'),
            require('@/assets/reno6.jpeg'),
          ],
        },
      ],
      features: [
        ['Components', 23, '40+'],
        ['Example Pages', 3, 10],
        ['Bugfixes and Issues', true, true],
        ['Vue CLI Support', true, true],
        ['News, Project, and Pricing Pages', false, true],
        ['6 Months Free Updates', false, true],
        ['Price', 'Free', '$60'],
      ],
    }),
    methods: {
      onClickImage (n) {
        this.index = n
      },
    },
  }
</script>
