<template>
  <section id="hero">
    <v-carousel
      cycle
      :height="minHeight"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
      >
        <v-img
          :height="minHeight"
          :src="item.src"
          gradient="to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)"
        >
          <v-container class="fill-height px-4 py-12">
            <v-responsive
              style="margin: auto"
              class="d-flex align-center text-center"
              height="100%"
              max-width="700"
              width="100%"
            >
              <p
                class="display-2 font-weight-bold"
                style="color: #ffffff!important;"
              >
                NEXT STONE BENCHTOPS
              </p>

              <p
                class="font-weight-bold heading"
                style="color: #ffffff!important;"
                max-width="600"
              >
                If you are looking for stone benchtops, we are
                here to serve you all
              </p>

              <v-btn
                large
                color="primary"
                style="font-weight: bold"
                to="/galleries"
              >
                Discover More
              </v-btn>
            </v-responsive>
          </v-container>
        </v-img>
      </v-carousel-item>
    </v-carousel>
  </section>
</template>

<script>
  export default {
    name: 'SectionHero',

    provide: {
      theme: { isDark: true },
    },
    data () {
      return {
        items: [
          {
            src: require('@/assets/wallpaper01.jpeg'),
          },
          {
            src: require('@/assets/wallpaper02.jpeg'),
          },
          {
            src: require('@/assets/wallpaper03.jpeg'),
          },
        ],
      }
    },

    computed: {
      minHeight () {
        const height = this.$vuetify.breakpoint.mdAndUp ? '100vh' : '80vh'

        return `calc(${height} - ${this.$vuetify.application.top}px)`
      },
    },
  }
</script>
