<template>
  <base-section
    id="info-alt"
    space="56"
  >
    <v-container>
      <v-row justify="space-between">
        <v-col
          cols="12"
          md="5"
        >
          <base-business-info title="KEEP IN TOUCH WITH US">
            Please contact us today for a free quote on reconstituted stone/quartz Benchtops for kitchen, bathrooms or splashbacks. All you do is just send us an email with your plans/sketches or just some rough figures of lengths and widths of each bench, we sure will get back to you with a quote within 48 hours
          </base-business-info>
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <base-contact-form title="MAIL US YOUR MESSAGE" />
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionKeepInTouch',
  }
</script>
