<template>
  <base-section id="about-our-product">
    <base-section-heading
      color="primary lighten-2"
      title="WHAT PEOPLE SAY ABOUT US"
    />
    <v-container>
      <v-row>
        <v-col
          v-for="card in cards"
          :key="card.title"
          cols="12"
          md="4"
          class="text-center mb-10"
        >
          <v-avatar
            size="80px"
          >
            <img
              :src="card.image"
            >
          </v-avatar>

          <base-subtitle
            v-if="card.subtitle"
            class="text-center"
            :title="card.subtitle"
            space="1"
          />

          <base-title
            :title="card.title"
            class="text-uppercase text-center"
            space="1"
          />
          <base-body
            v-if="card.text"
            class="text-center"
            :text="card.text"
            space="6"
          />
          <v-rating
            v-model="rating"
            readonly
            color="primary"
            background-color="grey darken-1"
            empty-icon="$ratingFull"
            half-increments
            hover
          />
          <v-btn
            class="ma-2"
            tile
            outlined
            color="primary"
            :href="card.href"
            target="_blank"
          >
            Discover more on<v-icon
              right
              :color="card.color"
            >
              {{ card.icon }}
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionAboutOurProduct',

    data: () => ({
      rating: 5,
      cards: [
        {
          title: 'Rachie J Bast',
          text:
            'We used Next Stone benchtops to supply and install our new kitchen benches. They were excellent from the quote to completion. They were very helpful and managed to fit in with our deadline. The finished job looks great. I thoroughly recommend them.',
          callout: '01',
          icon: 'mdi-google',
          color: 'red',
          href: 'https://www.google.com/search?sxsrf=ALeKk00mwrSZbdve_hnQx11oUhXID4AgkQ%3A1596250966357&ei=VtskX_yjFd2J4-EPsvSIwAU&q=Next+Stone+Benchtops%2C+Graham+Road%2C+Clayton+South+Victoria&oq=Next+Stone+Benchtops&gs_lcp=CgZwc3ktYWIQARgBMgkIIxCwAxAnEBMyBQgmELADUABYAGCZSmgBcAB4AIABAIgBAJIBAJgBAKoBB2d3cy13aXrAAQE&sclient=psy-ab#lrd=0x6ad66b4cc3a4ca29:0xcfe727f2173ae5b4,1,,,',
          image: require('@/assets/pp1.jpg'),
        },
        {
          title: 'Melanie Burns',
          text:
            'Today my beautiful benchtops were installed. The stone was perfect, and the installers were amazing. Professional from the first contact, to the last, the team were exceptional. I definately recommend them to anyone needing stone. Thanks for a wonderful, speedy service with a great result to the entire team at NSB.',
          callout: '02',
          icon: 'mdi-facebook',
          color: 'blue',
          href: 'https://www.facebook.com/pg/nextstonebenchtops.com.au/reviews/?ref=page_internal',
          image: require('@/assets/pp2.jpeg'),
        },
        {
          title: 'Antoine Lavigne',
          text:
            'My experience with Next Stone Benchtops was very easy from initial engagement through to the installation. Vi was very attentive to any queries and provided excellent customer service. The installation was seamless. The guys onsite were very efficient, clean, neat and tidy',
          callout: '03',
          icon: 'mdi-home',
          color: 'orange',
          href: 'https://hipages.com.au/connect/nextstonebenchtops',
          image: require('@/assets/pp3.jpg'),
        },
      ],
    }),
  }
</script>
