<template>
  <base-section id="theme-features">
    <base-section-heading title="WHAT CAN WE DO?">
      We always improving ourself to provide the customers the best services and
      as quick as the value of products and quality.
    </base-section-heading>

    <v-container>
      <v-row>
        <v-col
          v-for="(feature, i) in features"
          :key="i"
          cols="12"
          md="6"
        >
          <base-avatar-card
            v-bind="feature"
            align="left"
            horizontal
          />
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionThemeFeatures',

    data: () => ({
      features: [
        {
          title: 'Kitchen Benchtop',
          icon: 'mdi-food',
          text:
            'It’s one of the most hard-working surfaces in your home. Here’s help to choose your material wisely and get the best kitchen benchtop material for your needs.',
        },
        {
          title: 'Fire Place',
          icon: 'mdi-fire',
          text:
            'The flickering flames of a fire not only heats up an interior but also adds a comforting, homely atmosphere to any space. Lit or not, a well-designed stone fireplace becomes a focal point that can enhance the feeling and aesthetics of an interior.',
        },
        {
          title: 'BBQ Top',
          icon: 'mdi-image-size-select-actual',
          text:
            'Looking to update and find that perfect BBQ bench top? Our huge range contains a variety of colours and textures to suit any style.',
        },
        {
          title: 'Bathroom',
          icon: 'mdi-window-closed',
          text:
            'Your bathroom needs solutions that are distinguished by their superior quality, and resilience in the face of the specific humidity conditions and hygiene requirements in the bathroom.',
        },
      ],
    }),
  }
</script>
