<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-info-card
        title="KEEP IN TOUCH WITH US"
        pace="6"
      >
        Please contact us today for a free quote on reconstituted stone/quartz Benchtops for kitchen, bathrooms or splashbacks. All you do is just send us an email with your plans/sketches or just some rough figures of lengths and widths of each bench, we sure will get back to you with a quote within 48 hours
      </base-info-card>

      <base-business-contact dense />
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseBusinessInfo',

    props: { dark: Boolean },

    data: () => ({
      business: [
        {
          icon: 'mdi-map-marker-outline',
          title: 'Address',
          text: '27 Graham Road<br>Clayton South Vic 3169',
        },
        {
          icon: 'mdi-cellphone',
          title: 'Phone',
          text: '0449 712 883',
        },
        {
          icon: 'mdi-email',
          title: 'Email',
          text: 'admin@nextstonebenchtops.com.au',
        },
      ],
    }),
  }
</script>
