<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-info-card
        :title="title"
        color="primary"
      >
        <slot />
      </base-info-card>

      <template v-for="({ icon, text, title: t, style }, i) in business">
        <base-avatar-card
          :key="i"
          :icon="icon"
          :outlined="false"
          :title="!dense ? t : undefined"
          color="transparent"
          horizontal
          space="0"
        >
          <!-- Do not use v-html for user -->
          <!-- provided values -->
          <div
            :style="style"
            v-html="text"
          />
        </base-avatar-card>

        <v-divider
          v-if="i + 1 !== business.length"
          :key="`divider-${i}`"
          class="my-2"
        />
      </template>
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseBusinessContact',

    props: {
      dark: Boolean,
      dense: Boolean,
      title: String,
    },

    data: () => ({
      business: [
        {
          icon: 'mdi-map-marker-outline',
          title: 'Address',
          text: '27 Graham Road<br>Clayton South Vic 3169',
          style: '',
        },
        {
          icon: 'mdi-cellphone',
          title: 'Phone',
          text: '0449 712 883',
          style: 'padding-top: 10px!important;',
        },
        {
          icon: 'mdi-email',
          title: 'Email',
          text: 'admin@nextstonebenchtops.com.au',
          style: 'padding-top: 10px!important;',
        },
      ],
    }),
  }
</script>
