<template>
  <div>
    <base-info-card
      :title="title"
      :subtitle="subtitle"
      space="4"
      color="primary"
    />
    <div v-if="!emailSent">
      <v-text-field
        v-model="name"
        label="Name"
      />

      <v-text-field
        v-model="email"
        label="Email"
      />

      <v-text-field
        v-model="subject"
        label="Subject"
      />

      <v-textarea
        v-model="content"
        class="mb-6"
        label="Your Need & Description"
      />

      <v-btn
        :color="!theme.isDark ? 'accent' : 'white'"
        outlined
        target="_blank"
        @click="sendEmail"
      >
        Send message
      </v-btn>
    </div>
    <div v-if="emailSent">
      <span
        :color="!theme.isDark ? 'accent' : 'white'"
      >
        Thank you, we will contact with you shortly
      </span>
    </div>
  </div>
</template>

<script>
  import emailjs from 'emailjs-com'

  export default {
    name: 'BaseContactForm',

    // Injected from the Vuetify Themeable mixin
    inject: ['theme'],

    props: {
      subtitle: String,
      title: {
        type: String,
        default: 'MAIL US YOUR MESSAGE',
      },
    },
    data: () => ({
      name: '',
      email: '',
      subject: '',
      content: '',
      emailSent: false,
    }),
    methods: {
      sendEmail () {
        const templateParams = {
          name: this.name,
          email: this.email,
          subject: this.subject,
          content: this.content,
        }
        emailjs.init('user_Ud3vnyFL3nekSeQRJrMWI')
        emailjs.send('gmail', 'template_N0GIbtKb', templateParams)
          .then(() => {
            this.emailSent = true
          }, () => {
          })
      },
    },
  }
</script>
