<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-title
        size="display-1"
        space="4"
        title="NEXT STONE BENCHTOPS"
        weight="regular"
      />

      <base-body>
        Please contact us today for a free quote on reconstituted stone/quartz Benchtops for kitchen, bathrooms or splashbacks. All you do is just send us an email with your plans/sketches or just some rough figures of lengths and widths of each bench, we sure will get back to you with a quote within 48 hours
      </base-body>
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseInfo',

    props: {
      title: String,
      dark: Boolean,
    },

    data: () => ({
      business: [
        {
          icon: 'mdi-map-marker-outline',
          title: 'Address',
          text: '8553 N. Beach St. Ste. 227<br>Fort Worth, Texas 76137',
        },
        {
          icon: 'mdi-cellphone',
          title: 'Phone',
          text: '01 (800) 433 744<br>01 (800) 433 633',
        },
        {
          icon: 'mdi-email',
          title: 'Email',
          text: 'john@vuetifyjs.com<br>heather@vuetifyjs.com',
        },
      ],
    }),
  }
</script>
