<template>
  <v-footer
    id="home-footer"
    color="grey darken-4"
    dark
    min-height="72"
  >
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <div
            class="d-flex flex-wrap justify-md-start justify-center justify-md-none"
          >
            <template v-for="(s, i) in social">
              <a
                :key="i"
                class="white--text pa-1 pa-md-0"
                :href="s.href"
                v-text="s.title"
                target="_blank"
              />

              <v-responsive
                v-if="i < social.length - 1"
                :key="`divider-${i}`"
                class="mx-4 shrink hidden-sm-and-down"
                max-height="24"
              >
                <v-divider vertical />
              </v-responsive>
            </template>
          </div>
        </v-col>

        <v-col
          class="text-center text-md-right"
          cols="12"
          md="6"
        >
          Copyright &copy; 2020 NextStone Benchtops
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
  export default {
    name: 'HomeFooter',

    data: () => ({
      social: [
        {
          title: 'Facebook',
          href: 'https://www.facebook.com/nextstonebenchtops.com.au/',
        },
        {
          title: 'Google',
          href: 'https://www.google.com/search?q=nextstone+benchtop&oq=nexts&aqs=chrome.0.69i59j69i57j69i59l2j69i60l4.3608j0j7&sourceid=chrome&ie=UTF-8#lrd=0x6ad66b4cc3a4ca29:0xcfe727f2173ae5b4,1,,,',
        },
        {
          title: 'Hipages',
          href: 'https://hipages.com.au/connect/nextstonebenchtops',
        },
      ],
    }),
  }
</script>

<style lang="sass">
#home-footer a
  text-decoration: none
</style>
